* {
    margin: 0;
    padding: 0;
    border-width: 0;
}

html { 
    overflow-x: hidden;
    overflow-y: scroll; 
}

body {
    padding: 8px;
}

a {
    text-decoration: none;
}
.error {
    color: #f00
}

#header {
    border-radius: 10px 10px 0 0;
    background: #FB5A62;
}

#header h1 {
    padding: 30px 0 15px 0;
    font-family: "Microsoft YaHei";
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

#header a {
    color: #333333;
}

#header a:active, #header a:hover {
    background: #BF6266;
    color: #FFFFFF;
}

#navigation {
    padding-right: 15px;
    padding-bottom: 10px;
    font-family: "Microsoft YaHei";
    font-size: 12pt;
    text-align: right;
    color: #333333; 
}

#content {
    font-family: "Microsoft YaHei";
    background: #FFFC7B;
}

#content a {
    color: #333333;
}

#content a:active, #content a:hover {
    background-color: #BEB868;
    color: #FFFFFF;
}

#content .post {
    padding: 2em;
}

#content .post .title {
    padding-bottom: 1em;
    font-family: "Microsoft YaHei";
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

#content .post h2 {
    font-family: "Microsoft YaHei";
    font-size: 16pt;
    font-weight: bold;
}

#content .post h3 {
    font-family: "Microsoft YaHei";
    font-size: 13pt;
    font-weight: normal;
}

#content .post p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-indent: 2em;
    font-family: "Microsoft YaHei";
    font-size: 12pt;
    font-weight: normal;
}

#content .post li {
    margin: 1em;
}

#content .post .image-container {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#content .post .image-container .title {
    margin-top: 10px;
    font-family: "Microsoft YaHei";
    font-size: 12pt;
    font-weight: bold;
}

#content .input-form {
    padding: 1em;
}

#serving_dist {
    font-family: "仿宋";
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    background: #99CC33;
    padding: 0.5em 2em 0.5em 2em;
}

#serving_dist p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#contact_us {
    border-radius: 0 0 10px 10px;
    padding: 0.5em 2em 0.5em 2em;
    font-family: "Microsoft YaHei";
    font-size: 16pt;
    background: #6699CC;
}

#contact_us p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.recommend {
    font-family: 宋体;
    font-size: 10pt;
    color: #f00;
}

.item {
    clear: both;
    margin: 15px 0;
}

label {
    font-family: "Microsoft YaHei";
    font-size: 11pt;
    display: inline-block;
    margin-right: 15px;
    text-align: right;
    width: 60px;
    line-height: 30px;
    vertical-align: baseline;
}

.basic-input {
    font-family: "Microsoft YaHei";
    font-size: 11pt;
    width: 200px;
    padding: 5px;
    height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
}

textarea {
    font-family: "Microsoft YaHei";
    font-size: 11pt;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    resize: none;
    vertical-align: top;
}


.captcha-img {
    margin: 2px 6px 0 0;
    vertical-align: top;
}

.avatar-img {
    margin: 2px 6px 0 0;
    vertical-align: top;
}

.btn-submit {
    font-family: "Microsoft YaHei";
    font-size: 11pt;
    cursor: pointer;
    color: #ffffff;
    background: #3fa156;
    border: 1px solid #528641;
    font-weight: bold;
    padding: 6px 26px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.btn-submit:hover {
    background-color: #4fca6c;
    border-color: #6aad54;
}

.messages {
    margin: 20px 0 20px 0;
}

.messages .m_name {
    font-size: 16pt;
    font-weight: bold; 
    margin-bottom: 10px;
}

.messages .m_time {
    font-size: 10pt;
}

.messages .m_content {
    font-size: 12pt;
    margin-top: 15px;
    margin-bottom: 10px;
}

.messages .m_ip {
    font-size: 10pt;
}

.messages ul {
    margin: 0;
    padding: 0;
}

.messages li {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;
    border-top: solid 2px #ccc;
}

.goods {
    margin: 20px 0 20px 0;
}

.goods .g_name {
    font-size: 16pt;
    font-weight: bold; 
    margin-bottom: 10px;
}

.goods .g_number {
    font-size: 10pt;
}

.goods .g_brand {
    font-size: 10pt;
}

.goods .g_photo {
    margin: 10px 0 10px 0;
}

.goods .g_photo img {
    width: 120px;
    vertical-align: middle; 
}

.goods ul {
    margin: 0;
    padding: 0;
}
.goods li {
    list-style-type: none;
    padding: 10px 0 10px 0;
    border-top: solid 2px #ccc;
}

.goods-photo {
    text-align: center;
}

.goods-photo ul, .goods-photo li {
    margin: 0;
    padding: 0;
}

.goods-photo li {
    display: inline;
}

.goods-photo img {
    width: 200px;
}