{% extends "base.html" %}
{% block title %}重定向{% endblock %}
{% block body %}
    <div id="content">
        <div class="post" style="text-align: center;">
        <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </p>
        <p><div><a href="{{ target }}">[立即跳转]</a></div></p>
        </div>
    </div>
    <script type="text/javascript">
    setTimeout("document.location.href='{{ target }}'", 3000);
    </script>
{% endblock %}