{% extends "base.html" %}
{% block title %}更新商品{% endblock %}
{% block body %}
    <div id="content">
        <div class="input-form">
            <form method="post" action="">
                {% if error %}
                <div class="error">错误：{{ error }}</div>
                {% endif %}
                <div class="item">
                    <label>商品名称</label>
                    <input class="basic-input" name="name" type="text" value="{{ goods.name }}" autocomplete="off" disableautocomplete />
                </div>
                <div class="item">
                    <label>价格</label>
                    <input class="basic-input" name="price" type="text" value="{{ goods.price }}" autocomplete="off" disableautocomplete />
                </div>
                <div class="item">
                    <label>详细描述</label>
                    <textarea name="detail" rows="6" cols="60" placeholder="在此输入详细描述……">{{ goods.detail }}</textarea>
                </div>
                <div class="item">
                    <label>品牌</label>
                    <input class="basic-input" name="brand" type="text" value="{{ goods.brand }}" autocomplete="off" disableautocomplete />
                </div>
                <div class="item">
                    <label>验证码</label>
                    <input class="basic-input" name="vcode" type="text" autocomplete="off" disableautocomplete />
                    <img class="captcha-img" src="{{ url_for('get_captcha') }}" onclick="this.src='{{ url_for('get_captcha') }}'" />
                </div>
                <div class="item-submit">
                    <label>&nbsp;</label>
                    <input class="btn-submit" name="submit" type="submit" value="更新" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}