{% extends "base.html" %}
{% block title %}留言板{% endblock %}
{% block body %}
    <div id="content">
        <div class="post">
            <form method="post" action="">
                {% if error %}
                <div class="error">错误：{{ error }}</div>
                {% endif %}
                <div class="item">
                    <label>姓名</label>
                    {% if pre_val %}
                    <input class="basic-input" name="name" type="text" readonly value="{{ pre_val.name }}" />
                    {% else %}
                    <input class="basic-input" name="name" type="text" autocomplete="off" disableautocomplete />
                    {% endif %}
                </div>
                <div class="item">
                    <label>邮箱</label>
                    {% if pre_val %}
                    <input class="basic-input" name="email" type="text" readonly value="{{ pre_val.email }}" />
                    {% else %}
                    <input class="basic-input" name="email" type="text" autocomplete="off" disableautocomplete />
                    {% endif %}
                </div>
                <div class="item">
                    <label>内容</label>
                    <textarea name="content" rows="6" cols="60" placeholder="在此输入留言内容……"></textarea>
                </div>
                <div class="item">
                    <label>验证码</label>
                    <input class="basic-input" name="vcode" type="text" autocomplete="off" disableautocomplete />
                    <img class="captcha-img" src="{{ url_for('get_captcha') }}" onclick="this.src='{{ url_for('get_captcha') }}'" />
                </div>
                <div class="item-submit">
                    <label>&nbsp;</label>
                    <input class="btn-submit" name="submit" type="submit" value="留言" />
                </div>
            </form>
        
            {% if session.logged_in %}
            <div class="messages">
                <ul>
                    {% for message in messages %}
                    <li>
                        <div class="m_name">姓名：{{ message.name }}</div>
                        <span class="m_time">留言时间：{{ message.datetime }}</span>
                        <span class="m_ip">IP 地址：{{ message.ip }}</span>
                        <div class="m_content">内容：{{ message.content }}</div>
                        <div class="m_delete"><a href="{{ url_for('delete_message', id=message.id) }}">[删除]</a></div>
                    </li>
                    {% else %}
                    <li><em>无留言</em></li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    {% if cur_page > 1 %}
                    <a href="{{ url_for('leave_message', page=cur_page-1) }}">上一页</a>
                    {% endif %}
                    {% if cur_page < total_pages %}
                    <a href="{{ url_for('leave_message', page=cur_page+1) }}">下一页</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}