{% extends "base.html" %}
{% block title %}家庭局域网{% endblock %}
{% block body %}
<div id="content">
    <div class="post">
        <h2>组建家庭局域网能解决什么问题？为什么要组建家庭局域网？</h2>
        <div class="image-container">
            <img src="{{ url_for('static', filename='image/home-network.png') }}" />
            <div class="title">图 1：家庭网络拓扑结构</div>
        </div>
        <h3>组建家庭局域网可以为您带来以下好处：</h3>
        <h3>一、共享文档、音乐、视频以及其他文件</h3>
        <p>随着时代的发展，电脑已经成为人们日常生活中必不可少的工具，而很多家庭都不仅仅拥有一台电脑。因为工作生活需要，您的家中可能同时拥有多台台式机、多台笔记本。然而多台电脑之间的文件共享是一个令人头疼的事情。目前也许大家已经习惯了使用U盘在多台电脑上插来插去，这就给病毒、木马的肆虐带来了机会。目前，U盘是很多计算机病毒繁殖的温床，U盘的滥用也是病毒感染的主要原因！</p>
        <h3>二、提高系统稳定性</h3>
        <p>纯净的操作系统稳定性最好，随着用户各种应用、驱动程序加载，特别是设计有缺陷、错误连连的应用软件，会对系统的安全稳定性带来隐患，尤其是系统各种错误提示增多，重装系统可以解决这个问题。</p>
        <h3>三、还原用户操作习惯</h3>
        <p>假如我习惯了浏览器操作方式，有一款工具条把浏览器操作恶意修改了，就会给我的使用带来麻烦，重装系统就可以解决。</p>
        <h3>四、修复缺失的系统文件</h3>
        <p>有相当部分的程序失灵，是由原系统文件丢失、受损造成的。利用重装系统，可以修复文件受损造成的系统困惑。</p>
        <h3>五、修复病毒造成的破坏</h3>                
        <p>很多病毒在运行时会损坏系统文件、修改注册表和配置文件等，修复逐项修复花费大量的时间、精力。而且心里总是觉得不稳妥，重装一次系统，把系统恢复到原始状态就可以一次性修复这些问题，不但省时而且省力。</p>
        <h3>六、系统崩溃时的唯一选择</h3>
        <p>系统崩溃时，啥也干不了，这个烂摊子除了重装系统，还有什么办法？你唯一能做主的是花钱重装，还是自己动手重装，总之就是重装…</p>
    </div>
</div>
{% endblock %}
