{% extends "base.html" %}
{% block title %}
<title>首页 | 电脑维护 上门服务</title>
{% endblock %}
{% block body %}
<div id="content">
    <ul>
        <li>
            <h2><a href="os/">重装系统</a></h2>
            <ul>
                <li><h3><a href="os/winxp/">Windows XP</a></h3></li>
                <li><h3><a href="os/win7/">Windows 7</a><span class="recommend">（推荐）</span></h3></li>
                <li><h3><a href="os/win8/">Windows 8</a><span class="recommend">（新）</span></h3></li>
                <li><h3>Linux</h3></li>
            </ul>
        </li>
        <li>
            <h2>局域网设置</h2>
            <ul>
                <li><h3>家庭局域网组建（文件、视频、音乐共享）</h3></li>
                <li><h3>无线路由器安装与调试（台式机、笔记本、平板、手机共享上网）</h3></li>
                <li><h3>无线网络加密与优化（防蹭网）</h3></li>
                <li><h3>网络故障修复</h3></li>
            </ul>
        </li>
        <li>
            <h2>软件安装</h2>
            <ul>
                <li><h3>常用软件（办公软件，杀毒软件，多媒体软件）</h3></li>
                <li><h3> 专业软件（制图软件、图像处理软件、编程软件）</h3></li>
            </ul>
        </li>
        <li>
            <h2>故障排除</h2>
            <ul>
                <li><h3>蓝屏、黑屏、死机、无法启动</h3></li>
                <li><h3>麦克风、耳机无声等常见问题 </h3></li>
                <li><h3>软件故障咨询，软件清理，系统优化加速</h3></li>
            </ul>
        </li>
        <li>
            <h2>手机刷机</h2>
            <ul>
                <li><h3>HTC等品牌</h3></li>
            </ul>
        </li>
        <li>
            <h2>光盘刻录</h2>
            <ul>
                <li><h3>资料刻盘备份</h3></li>
                <li><h3>VCD/DVD制作</h3></li>
                <li><h3>光盘复制</h3></li>
        </li>
    </ul>
</div>
{% endblock %}