{% extends "base.html" %}
{% block title %}重装系统{% endblock %}
{% block body %}
    <div id="content">
        <div class="post">
            <h2>重装系统能解决什么问题？为什么要重装系统？</h2>
            <h3>重装系统可以为您带来以下好处：</h3>
            <h3>一、提高系统运行速度</h3>
            <p>操作系统用的时间长了，内置的软件、冗余注册表值、临时数据都会拖累操作系统运行速度，重装系统是直接有效的提速方式。</p>
            <h3>二、提高系统稳定性</h3>
            <p>纯净的操作系统稳定性最好，随着用户各种应用、驱动程序加载，特别是设计有缺陷、错误连连的应用软件，会对系统的安全稳定性带来隐患，尤其是系统各种错误提示增多，重装系统可以解决这个问题。</p>
            <h3>三、还原用户操作习惯</h3>
            <p>假如我习惯了浏览器操作方式，有一款工具条把浏览器操作恶意修改了，就会给我的使用带来麻烦，重装系统就可以解决。</p>
            <h3>四、修复缺失的系统文件</h3>
            <p>有相当部分的程序失灵，是由原系统文件丢失、受损造成的。利用重装系统，可以修复文件受损造成的系统困惑。</p>
            <h3>五、修复病毒造成的破坏</h3>                
            <p>很多病毒在运行时会损坏系统文件、修改注册表和配置文件等，修复逐项修复花费大量的时间、精力。而且心里总是觉得不稳妥，重装一次系统，把系统恢复到原始状态就可以一次性修复这些问题，不但省时而且省力。</p>
            <h3>六、系统崩溃时的唯一选择</h3>
            <p>系统崩溃时，啥也干不了，这个烂摊子除了重装系统，还有什么办法？你唯一能做主的是花钱重装，还是自己动手重装，总之就是重装…</p>
        </div>
    </div>
{% endblock %}
