{% extends "base.html" %}
{% block title %}个人中心{% endblock %}
{% block body %}
    <div id="content">
    <div class="post">
        <div class="item">
            <label>头像</label>
            <img class="avatar-img" src="{{ avatar_url }}" />
        </div>
        <div class="item">
            <label>用户名</label>
            <input class="basic-input" type="text" name="username" readonly value="{{ user.username }}" />
        </div>
        <div class="item">
            <label>电子邮箱</label>
            <input class="basic-input" type="text" name="email" readonly value="{{ user.email }}"/>
        </div>
        <div class="item">
            <label>注册日期</label>
            <input class="basic-input" type="text" name="rtime" readonly value="{{ user.reg_time }}" />
        </div>
    </div>
    </div>
{% endblock %}