{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block body %}
    <div id="content">
        <div class="input-form">
            <form action="{{ url_for('register') }}" method="post" />
                {% if error %}
                <div class="error">错误：{{ error }}</div>
                {% endif %}
                <div class="item">
                    <label>用户名</label>
                    <input class="basic-input" type="text" name="username" autocomplete="off" disableautocomplete />
                </div>
                <div class="item">
                    <label>密码</label>
                    <input class="basic-input" type="password" name="password" />
                </div>
                <div class="item">
                    <label>邮箱</label>
                    <input class="basic-input" type="email" name="email" autocomplete="off" disableautocomplete />
                </div>
                <div class="item">
                    <label>验证码</label>
                    <input class="basic-input" name="vcode" type="text" autocomplete="off" disableautocomplete />
                    <img class="captcha-img" src="{{ url_for('get_captcha') }}" onclick="this.src='{{ url_for('get_captcha') }}'" />
                </div>
                <div class="item-submit">
                    <label>&nbsp;</label>
                    <input class="btn-submit" type="submit" value="注册" /></li>
                </div>
            </form>
        </div>
    </div>
{% endblock %}