{% extends "base.html" %}
{% block title %}
<title>Windows 8 界面预览 | 电脑维护 上门服务</title>
{% endblock %}
{% block body %}
<div id="content">
    <div class="post">
        <h2>Windows 8 界面预览</h2>
        <div class="image-container">
            <img src="{{ url_for('static', filename='image/win8-logo.png') }}" title="LOGO"/>
            <div class="title">图 1：Windows 8 LOGO</div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='image/win8-1.jpg') }}" title="开始界面"/>
            <div class="title">图 2：Windows 8 开始界面</div>
        </div>
    </div>
</div>
{% endblock %}

