{% extends "base.html" %}
{% block title %}Windows 8 界面预览{% endblock %}
{% block body %}
    <div id="content">
        <div class="post">
            <div class="title">Windows 8 界面预览</div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='image/win8-logo.png') }}" title="LOGO" alt="LOGO" />
                <div class="title">图 1：Windows 8 LOGO</div>
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='image/win8-1.jpg') }}" title="开始界面" alt="开始界面" />
                <div class="title">图 2：Windows 8 开始界面</div>
            </div>
        </div>
    </div>
{% endblock %}

