{% extends "base.html" %}
{% block title %}Windows XP 界面预览{% endblock %}
{% block body %}
<div id="content">
    <div class="post">
        <h2>Windows XP 界面预览</h2>
        <div class="image-container">
            <img src="{{ url_for('static', filename='image/winxp-logo.png') }}" title="LOGO"/>
            <div class="title">图 1：Windows XP LOGO</div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='image/winxp-1.jpg') }}" title="桌面"/>
            <div class="title">图 2：Windows XP 桌面</div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='image/winxp-2.jpg') }}" title="个性化设置"/>
            <div class="title">图 3：Windows XP 个性化设置</div>
        </div>
    </div>
</div>
{% endblock %}

